{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="p-4">
        <div class="media">
            <img class="inline-flex object-cover border-4 border-indigo-600 rounded-full shadow-[5px_5px_0_0_rgba(0,0,0,1)] shadow-indigo-600/100 bg-indigo-50 text-indigo-600 h-24 w-24 !h-48 !w-48" src="{{user.profile.image.url}}">
            <h1 class="account-heading">{{user.username}}</h1>
            <p class="text-secondary">{{user.email}}</p>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="rounded-md border border-indigo-500 bg-gray-50 p-4 shadow-md ">
                <legend class="font-semibold mt-6 inline-block text-lg lg:text-xl text-indigo-600">Profile info</legend>
                {{ u_form| crispy }}
                {{ p_form| crispy }}
            </fieldset>
            <br>
            <div class="form-group">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Update</button>
            </div>
        </form>
    </div>

{% endblock content %}
