{% extends "home/base.html" %}
{% block content %}
    {% for subject in subjects %}
        <section class="font-bold bg-orange-300 p-4 m-2 rounded h-fit">
            <p>Subject : {{ subject.title }}</p>
            {% for course in courses %}
                {% if course.subject_id == subject.id %}
                    <p>Tutor: {{ course.owner }}</p>
                    <hr>
                    <p>Title : {{ course.title }}</p>
                    <p>Overview:
                        
                        {{ course.overview}}</p>
                        {% for module in modules %}
                            <p>{{module.title}}</p>
                            <p>{{ module.description }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
        </section>
    {% endfor %}
    </section>
{% endblock content %}