{% extends "home/base.html" %}
{% block content %}
    {% for subject in subjects %}
        <section class="font-bold bg-orange-300 p-4 m-2 rounded h-fit">
            <p>Subject : {{ subject.title }}</p>
            {% for course in subject.courses.all %}
                    <p>Tutor: {{ course.owner }}</p>
                    <hr>
                    <p>Title : {{ course.title }}</p>
                    <p>Overview:
                        
                        {{ course.overview}}</p>
                        <ul type="disc">
                        {% for module in course.modules.all %}
                            <li><a href="{% url 'module_detail' module.id %}"><p>{{module.title}}</p></a></li>
                        {% endfor %}
                        </ul>
                {% endfor %}
        </section>
    {% endfor %}
    </section>
{% endblock content %}