{% extends "home/base.html" %}
{% block content %}
    <p class="grid ">Courses offered</p>
    {% for course in courses %}
        <section class=" bg-orange-300 p-4 m-2 rounded h-fit">
           <a class="font-bold hover:text-blue-600 px-1 rounded" href="{% url 'course_detail' course.id %}"> {{ course.title }}</a>
            <small class="font-medium"><p>Taught by: <i>{{ course.owner }}</i></p></small>
            <p>{{ course.overview }}</p>
        </section>
    {% endfor %}
{% endblock content %}