{% extends "home/base.html" %}
{% block content %}
    <p class="grid ">Courses offered ({{ courses | length}})</p>
    <!-- search section -->
    <section class="search-section ss-other-page px-2">
        <div class="container">
        <div class="search-warp bg-orange-300 p-1">
            <div class="row m-2">
            <div class="col-lg-10 offset-lg-1 m-1">
                <!-- search form -->
                <form method="post" action="{% url 'search' %}" class="intro-newslatter"> {% csrf_token %}
                <input class="rounded h-10 p-2" name="search" type="text" placeholder="Search here">
                <button type="submit" class="p-2 mx-4 bg-blue-500 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>                      
                  </button>
                </form>
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- search section end -->
    <section class="w-full">
        {% for course in courses %}
            <div class="bg-orange-300 p-1 m-2 rounded h-25 w-64">
                <img class="rounded" src="{{course.image.url}}">
                <div class="p-2">
                    <a class="font-bold hover:text-blue-600 rounded" href="{% url 'course_detail' course.id %}"> {{ course.title }}</a>
                    <small class="font-medium"><p>Taught by: <i>{{ course.owner }}</i></p></small>
                    <p>{{ course.overview }}</p>
                </div>
            </div>
        {% endfor %}
    </section>
    
{% endblock content %}